<mat-sidenav-container class="dashboard-container">
    <mat-sidenav mode="side" opened="true" disableClose="true" class="sidebar">


        <div class="sidebar-section-label">Menu</div>

        <mat-nav-list>
            <a mat-list-item routerLink="profilo" routerLinkActive="active-link">
                Profilo
            </a>

            @if (userRole === 'CLIENTE') {
                <a mat-list-item routerLink="i-miei-biglietti" routerLinkActive="active-link">
                    I miei biglietti
                </a>
            }

            @if (userRole === 'STAFF') {
                <a mat-list-item routerLink="gestione-generi" routerLinkActive="active-link">Gestione Generi</a>
                <a mat-list-item routerLink="gestione-film" routerLinkActive="active-link">Gestione Film</a>
                <a mat-list-item routerLink="gestione-spettacoli" routerLinkActive="active-link">Gestione Spettacoli</a>
                <a mat-list-item routerLink="biglietti-utente" routerLinkActive="active-link">Gestione Biglietti Utenti</a>
                <a mat-list-item routerLink="ricerca" routerLinkActive="active-link">Ricerca OMBD</a>
            }

            @if (userRole === 'SUPERADMIN') {
                <a mat-list-item routerLink="crea-staff" routerLinkActive="active-link">Crea membro Staff</a>
                <a mat-list-item routerLink="statistiche" routerLinkActive="active-link">Statistiche</a>

            }
        </mat-nav-list>

    </mat-sidenav>

    <mat-sidenav-content class="dashboard-content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>