<div class="staff-layout">

    <aside class="staff-sidebar">
        <h2 style="color: #ff0000; margin-bottom: 25px; font-size: 1.3rem;">Cinema Aurora Staff</h2>

        <nav>
            <a routerLink="/staff/home" class="staff-nav-link" routerLinkActive="active">
                Dashboard Home
            </a>

            <a routerLink="/staff/ricerca" class="staff-nav-link" routerLinkActive="active">
                Ricerca Film / Spettacoli
            </a>

            <a routerLink="/superadmin/crea-staff" class="staff-nav-link superadmin-exclusive-link" routerLinkActive="active">
                Aggiungi Nuovo Staff
            </a>
        </nav>
    </aside>

    <main style="flex: 1; background-color: #121212;">
        <router-outlet></router-outlet>
    </main>

</div>